<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 5.3//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- HikariCP Settings -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/inventory_management</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <!-- Connection Pool Settings -->
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <property name="hibernate.hikari.validationTimeout">5000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
        <property name="hibernate.hikari.leakDetectionThreshold">60000</property>
        <property name="hibernate.hikari.connectionTestQuery">SELECT 1</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.validator.apply_to_ddl">true</property>

        <!-- Entity Mappings -->
        <mapping class="com.lestarieragemilang.desktop.model.User" />
        <mapping class="com.lestarieragemilang.desktop.model.Stock" />
        <mapping class="com.lestarieragemilang.desktop.model.Supplier" />
        <mapping class="com.lestarieragemilang.desktop.model.Category" />
        <mapping class="com.lestarieragemilang.desktop.model.Customer" />
        <mapping class="com.lestarieragemilang.desktop.model.Purchasing" />
        <mapping class="com.lestarieragemilang.desktop.model.Sales" />
        <mapping class="com.lestarieragemilang.desktop.model.Returns" />
    </session-factory>
</hibernate-configuration>